@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.productCatalog {
    min-height: 100%;
    background-color:#fff;
    border-radius:12px;
    font-family: 'Roboto', sans-serif;
    padding:25px
}

.image {
    display:flex;
    justify-content:center;
    align-items:center
}
.image img {
    margin-top:0px;
    width:200px
} 
.price {
    margin-top:5px;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.description {
    margin-top:10px
}
.description p {
    margin: 0;
    font-size:16px
}
